@import "tailwindcss";

@theme {
  --color-body-bg: #0B0F0E;

  /* Brand */
  --color-primary: #22E58A;
  --color-primary-strong: #18C572;

  /* Text */
  --color-text-primary: #E6F1EC;
  --color-text-secondary: #9BB8AB;
  --color-text-muted: rgba(155, 184, 171, 0.6);

  /* --- Glow Effects (Custom Utilities) --- */
  --text-shadow-glow: 0 0 12px rgba(34, 225, 138, 0.4);

  /* Surfaces */
  --color-surface: #121816;

  --font-heading: "Michroma", sans-serif;
  --font-body: "Space Grotesk", sans-serif;

}

@utility text-glow {
  text-shadow: var(--text-shadow-glow);
}

.fade-edges {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

body {
  margin: 0;
  color: #E6F1EC;
  background-color: #0B0F0E;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}